@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: false;
}

@theme {
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

@plugin "daisyui/theme" {
  name: "nitkechhore";
  default: true;
  prefersdark: false;

  --color-primary: #2F7F8A;
  --color-primary-content: #FFFFFF;

  --color-secondary: #14B8A6;
  --color-secondary-content: #FFFFFF;

  --color-accent: #F59E0B;
  --color-accent-content: #FFFFFF;

  --color-neutral: #1E293B;
  --color-neutral-content: #FFFFFF;

  --color-base-100: #FAFAF9;
  --color-base-200: #F5F5F4;
  --color-base-300: #E7E5E4;
  --color-base-content: #1F2937;

  --color-info: #3B82F6;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}

* {
  transition:background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}
