PORT=<Port number>
MONGODB_URI=<mongodb_uri>

JWT_SECRET_KEY=<any_secret_key>
JWT_EXPIRY=<expiry (24h)>

CLOUDINARY_API=<CLOUDINARY_API>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>
CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>

FRONTEND_URL=http://localhost:5173

JUDGE0_API_URL=https://ce.judge0.com

SUPABASE_URL=<SUPABASE_URL>
SUPABASE_SERVICE_ROLE_KEY=<SUPABASE_SERVICE_ROLE_KEY>